/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* header style  */

.span-color{
    color: grey;
}

.btn-clr{
    color: grey;
    font-weight: bold;
}

.btn-two{
    background-color: rgb(0, 110, 255);
    color: white;
}
/* icon color  */
.fa-check-circle{
    color: #12B0E8;
}

/* package button color  */
.pkg-btn{
    color: #12B0E8;
}
/* package style  */
#hover-clr{
    background-color: #383CC1;
    color: white;
}
#hover-clr:hover{
    background-color: white;
    color: black;
    transition: all 1s ease-in-out;
    position: relative;
    bottom: 15px;
}

